poptavka-core/src/main/resources/test.dtd

<!ELEMENT dataset (
    ACCESSROLE*,
    ACCESS_ROLE_PERMISSION*,
    ACTION*,
    ADDITIONALINFO*,
    ADDRESS*,
    ADVICE*,
    BASICAUDITINFO*,
    BUSINESSUSER*,
    BUSINESSUSER_ADDRESS*,
    BUSINESSUSER_AUD*,
    BUSINESSUSER_INVOICE*,
    CATEGORY*,
    CLIENT*,
    CLIENT_AUD*,
    COMPANY*,
    COMPANY_AUD*,
    DEMAND*,
    DEMANDORIGIN*,
    DEMANDTYPE*,
    DEMANDTYPE_AUD*,
    DEMAND_AUD*,
    DEMAND_CATEGORY*,
    DEMAND_LOCALITY*,
    DEMAND_SUPPLIER*,
    DEMAND_SUPPLIER_AUD*,
    EMAILACTIVATION*,
    HIBERNATE_SEQUENCES*,
    INVOICE*,
    INVOICE_USERSERVICE*,
    LOCALITY*,
    MESSAGE*,
    MESSAGEUSERROLE*,
    MESSAGE_MESSAGEUSERROLE*,
    NOTIFICATION*,
    NOTIFICATIONITEM*,
    OFFER*,
    OFFERSTATE*,
    OURPAYMENTDETAILS*,
    OURPAYMENTDETAILS_AUD*,
    PARTNER*,
    PARTNER_AUD*,
    PAYMENTMETHOD*,
    PERMISSION*,
    PERSON*,
    PERSON_AUD*,
    PREFERENCE*,
    PREFERENCE_AUD*,
    PROBLEM*,
    PROBLEM_AUD*,
    RATING*,
    REVINFO*,
    SERVICE*,
    SETTINGS*,
    SETTINGS_NOTIFICATIONITEM*,
    SUPPLIER*,
    SUPPLIERBLACKLIST*,
    SUPPLIERBLACKLIST_SUPPLIER*,
    SUPPLIER_AUD*,
    SUPPLIER_CATEGORY*,
    SUPPLIER_LOCALITY*,
    TEMPLATE*,
    USER*,
    USERCONTACT*,
    USERMESSAGE*,
    USERSERVICE*,
    USER_ACCESSROLE*,
    USER_AUD*,
    USER_PREFERENCE*,
    USER_PREFERENCE_AUD*)>

<!ELEMENT ACCESSROLE EMPTY>
<!ATTLIST ACCESSROLE
    ID CDATA #REQUIRED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT ACCESS_ROLE_PERMISSION EMPTY>
<!ATTLIST ACCESS_ROLE_PERMISSION
    ACCESSROLE_ID CDATA #REQUIRED
    PERMISSIONS_ID CDATA #REQUIRED
>

<!ELEMENT ACTION EMPTY>
<!ATTLIST ACTION
    ID CDATA #REQUIRED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT ADDITIONALINFO EMPTY>
<!ATTLIST ADDITIONALINFO
    ID CDATA #REQUIRED
    DEMANDSCOUNT CDATA #IMPLIED
    SUPPLIERSCOUNT CDATA #IMPLIED
>

<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ID CDATA #REQUIRED
    ADDRESSTYPE CDATA #IMPLIED
    FLATNUM CDATA #IMPLIED
    HOUSENUM CDATA #IMPLIED
    STREET CDATA #IMPLIED
    ZIPCODE CDATA #IMPLIED
    CITY_ID CDATA #IMPLIED
>

<!ELEMENT ADVICE EMPTY>
<!ATTLIST ADVICE
    ID CDATA #REQUIRED
    BANKCODE CDATA #IMPLIED
    BOUNTY CDATA #IMPLIED
    PAYMENTDATE CDATA #IMPLIED
    RECOGNIZED CDATA #REQUIRED
    REMITTERACCOUNT CDATA #IMPLIED
    REMITTERNAME CDATA #IMPLIED
    REMITTERSURNAME CDATA #IMPLIED
    VARIABLESYMBOL CDATA #IMPLIED
    INVOICE_ID CDATA #IMPLIED
>

<!ELEMENT BASICAUDITINFO EMPTY>
<!ATTLIST BASICAUDITINFO
    ID CDATA #REQUIRED
    INSERTTIME CDATA #IMPLIED
    MODIFICATIONTIME CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    USERIDCREATED CDATA #IMPLIED
    USERIDMODIFIED CDATA #IMPLIED
>

<!ELEMENT BUSINESSUSER EMPTY>
<!ATTLIST BUSINESSUSER
    BUSINESSTYPE CDATA #IMPLIED
    VERIFIED CDATA #REQUIRED
    ID CDATA #REQUIRED
    COMPANY_ID CDATA #IMPLIED
    PERSON_ID CDATA #IMPLIED
    SETTINGS_ID CDATA #IMPLIED
>

<!ELEMENT BUSINESSUSER_ADDRESS EMPTY>
<!ATTLIST BUSINESSUSER_ADDRESS
    BUSINESSUSER_ID CDATA #REQUIRED
    ADDRESSES_ID CDATA #REQUIRED
>

<!ELEMENT BUSINESSUSER_AUD EMPTY>
<!ATTLIST BUSINESSUSER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    BUSINESSTYPE CDATA #IMPLIED
    VERIFIED CDATA #IMPLIED
    COMPANY_ID CDATA #IMPLIED
    PERSON_ID CDATA #IMPLIED
>

<!ELEMENT BUSINESSUSER_INVOICE EMPTY>
<!ATTLIST BUSINESSUSER_INVOICE
    BUSINESSUSER_ID CDATA #REQUIRED
    INVOICES_ID CDATA #REQUIRED
>

<!ELEMENT CATEGORY EMPTY>
<!ATTLIST CATEGORY
    ID CDATA #REQUIRED
    LEFTBOUND CDATA #IMPLIED
    LEVEL CDATA #REQUIRED
    RIGHTBOUND CDATA #IMPLIED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ADDITIONALINFO_ID CDATA #IMPLIED
    PARENT_ID CDATA #IMPLIED
    TEMPLATE_ID CDATA #IMPLIED
>

<!ELEMENT CLIENT EMPTY>
<!ATTLIST CLIENT
    OVERALRATING CDATA #IMPLIED
    ID CDATA #REQUIRED
>

<!ELEMENT CLIENT_AUD EMPTY>
<!ATTLIST CLIENT_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    OVERALRATING CDATA #IMPLIED
>

<!ELEMENT COMPANY EMPTY>
<!ATTLIST COMPANY
    ID CDATA #REQUIRED
    IDENTIFICATIONNUMBER CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TAXID CDATA #IMPLIED
>

<!ELEMENT COMPANY_AUD EMPTY>
<!ATTLIST COMPANY_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    IDENTIFICATIONNUMBER CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TAXID CDATA #IMPLIED
>

<!ELEMENT DEMAND EMPTY>
<!ATTLIST DEMAND
    ID CDATA #REQUIRED
    ATTACHMENTPATH CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    ENDDATE CDATA #IMPLIED
    FOREIGNCATEGORY CDATA #IMPLIED
    FOREIGNLINK CDATA #IMPLIED
    MAXSUPPLIERS CDATA #IMPLIED
    MINRATING CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    TITLE CDATA #REQUIRED
    VALIDTO CDATA #IMPLIED
    CLIENT_ID CDATA #IMPLIED
    ORIGIN_ID CDATA #IMPLIED
    RATING_ID CDATA #IMPLIED
    TYPE_ID CDATA #REQUIRED
>

<!ELEMENT DEMANDORIGIN EMPTY>
<!ATTLIST DEMANDORIGIN
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    URL CDATA #IMPLIED
>

<!ELEMENT DEMANDTYPE EMPTY>
<!ATTLIST DEMANDTYPE
    ID CDATA #REQUIRED
    CODE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT DEMANDTYPE_AUD EMPTY>
<!ATTLIST DEMANDTYPE_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT DEMAND_AUD EMPTY>
<!ATTLIST DEMAND_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    ATTACHMENTPATH CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    ENDDATE CDATA #IMPLIED
    FOREIGNCATEGORY CDATA #IMPLIED
    FOREIGNLINK CDATA #IMPLIED
    MAXSUPPLIERS CDATA #IMPLIED
    MINRATING CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    VALIDTO CDATA #IMPLIED
    CLIENT_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT DEMAND_CATEGORY EMPTY>
<!ATTLIST DEMAND_CATEGORY
    ID CDATA #REQUIRED
    CATEGORY_ID CDATA #IMPLIED
    DEMAND_ID CDATA #IMPLIED
>

<!ELEMENT DEMAND_LOCALITY EMPTY>
<!ATTLIST DEMAND_LOCALITY
    ID CDATA #REQUIRED
    DEMAND_ID CDATA #IMPLIED
    LOCALITY_ID CDATA #IMPLIED
>

<!ELEMENT DEMAND_SUPPLIER EMPTY>
<!ATTLIST DEMAND_SUPPLIER
    DEMAND_ID CDATA #REQUIRED
    SUPPLIERS_ID CDATA #REQUIRED
    EXCLUDEDSUPPLIERS_ID CDATA #REQUIRED
>

<!ELEMENT DEMAND_SUPPLIER_AUD EMPTY>
<!ATTLIST DEMAND_SUPPLIER_AUD
    REV CDATA #REQUIRED
    DEMAND_ID CDATA #REQUIRED
    EXCLUDEDSUPPLIERS_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT EMAILACTIVATION EMPTY>
<!ATTLIST EMAILACTIVATION
    ID CDATA #REQUIRED
    ACTIVATIONLINK CDATA #IMPLIED
    TIMEOUT CDATA #IMPLIED
>

<!ELEMENT HIBERNATE_SEQUENCES EMPTY>
<!ATTLIST HIBERNATE_SEQUENCES
    SEQUENCE_NAME CDATA #IMPLIED
    SEQUENCE_NEXT_HI_VALUE CDATA #IMPLIED
>

<!ELEMENT INVOICE EMPTY>
<!ATTLIST INVOICE
    ID CDATA #REQUIRED
    BANKACCOUNTNUMBER CDATA #IMPLIED
    BANKCODE CDATA #IMPLIED
    CONSTSYMBOL CDATA #IMPLIED
    DUEDATE CDATA #IMPLIED
    INVOICENUMBER CDATA #IMPLIED
    ISSUEDATE CDATA #IMPLIED
    SHIPMENTDATE CDATA #IMPLIED
    TAXBASIS CDATA #IMPLIED
    TOTALPRICE CDATA #IMPLIED
    VARIABLESYMBOL CDATA #IMPLIED
    VAT CDATA #IMPLIED
    VATRATE CDATA #REQUIRED
    PAYMENTMETHOD_ID CDATA #IMPLIED
>

<!ELEMENT INVOICE_USERSERVICE EMPTY>
<!ATTLIST INVOICE_USERSERVICE
    INVOICE_ID CDATA #REQUIRED
    USERSERVICES_ID CDATA #REQUIRED
>

<!ELEMENT LOCALITY EMPTY>
<!ATTLIST LOCALITY
    ID CDATA #REQUIRED
    LEFTBOUND CDATA #IMPLIED
    LEVEL CDATA #REQUIRED
    RIGHTBOUND CDATA #IMPLIED
    CODE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    ADDITIONALINFO_ID CDATA #IMPLIED
    PARENT_ID CDATA #IMPLIED
>

<!ELEMENT MESSAGE EMPTY>
<!ATTLIST MESSAGE
    ID CDATA #REQUIRED
    FIRSTBORN CDATA #IMPLIED
    NEXTSIBLING CDATA #IMPLIED
    PARENT CDATA #IMPLIED
    THREADROOT CDATA #IMPLIED
    BODY CDATA #IMPLIED
    CREATED CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MESSAGESTATE CDATA #IMPLIED
    SENT CDATA #IMPLIED
    SUBJECT CDATA #IMPLIED
    DEMAND_ID CDATA #IMPLIED
    OFFER_ID CDATA #IMPLIED
    PROBLEM_ID CDATA #IMPLIED
    SENDER_ID CDATA #IMPLIED
>

<!ELEMENT MESSAGEUSERROLE EMPTY>
<!ATTLIST MESSAGEUSERROLE
    ID CDATA #REQUIRED
    TYPE CDATA #IMPLIED
    MESSAGE_ID CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
>

<!ELEMENT MESSAGE_MESSAGEUSERROLE EMPTY>
<!ATTLIST MESSAGE_MESSAGEUSERROLE
    MESSAGE_ID CDATA #REQUIRED
    ROLES_ID CDATA #REQUIRED
>

<!ELEMENT NOTIFICATION EMPTY>
<!ATTLIST NOTIFICATION
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT NOTIFICATIONITEM EMPTY>
<!ATTLIST NOTIFICATIONITEM
    ID CDATA #REQUIRED
    ENABLED CDATA #REQUIRED
    PERIOD CDATA #IMPLIED
    NOTIFICATION_ID CDATA #IMPLIED
>

<!ELEMENT OFFER EMPTY>
<!ATTLIST OFFER
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    FINISHDATE CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    DEMAND_ID CDATA #IMPLIED
    STATE_ID CDATA #IMPLIED
    SUPPLIER_ID CDATA #IMPLIED
>

<!ELEMENT OFFERSTATE EMPTY>
<!ATTLIST OFFERSTATE
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT OURPAYMENTDETAILS EMPTY>
<!ATTLIST OURPAYMENTDETAILS
    ID CDATA #REQUIRED
    BANKACCOUNT CDATA #IMPLIED
    BANKCODE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    COUNTRYVAT CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    IBAN CDATA #IMPLIED
    IDENTIFICATIONNUMBER CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    STREET CDATA #IMPLIED
    SWIFTCODE CDATA #IMPLIED
    TAXID CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    ZIPCODE CDATA #IMPLIED
>

<!ELEMENT OURPAYMENTDETAILS_AUD EMPTY>
<!ATTLIST OURPAYMENTDETAILS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    BANKACCOUNT CDATA #IMPLIED
    BANKCODE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    COUNTRYVAT CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    IBAN CDATA #IMPLIED
    IDENTIFICATIONNUMBER CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    STREET CDATA #IMPLIED
    SWIFTCODE CDATA #IMPLIED
    TAXID CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    ZIPCODE CDATA #IMPLIED
>

<!ELEMENT PARTNER EMPTY>
<!ATTLIST PARTNER
    ID CDATA #REQUIRED
>

<!ELEMENT PARTNER_AUD EMPTY>
<!ATTLIST PARTNER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
>

<!ELEMENT PAYMENTMETHOD EMPTY>
<!ATTLIST PAYMENTMETHOD
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT PERMISSION EMPTY>
<!ATTLIST PERMISSION
    ID CDATA #REQUIRED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    PHONE CDATA #IMPLIED
>

<!ELEMENT PERSON_AUD EMPTY>
<!ATTLIST PERSON_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    FIRSTNAME CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    PHONE CDATA #IMPLIED
>

<!ELEMENT PREFERENCE EMPTY>
<!ATTLIST PREFERENCE
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    PKEY CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT PREFERENCE_AUD EMPTY>
<!ATTLIST PREFERENCE_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    PKEY CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT PROBLEM EMPTY>
<!ATTLIST PROBLEM
    ID CDATA #REQUIRED
    TEXT CDATA #IMPLIED
>

<!ELEMENT PROBLEM_AUD EMPTY>
<!ATTLIST PROBLEM_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    TEXT CDATA #IMPLIED
>

<!ELEMENT RATING EMPTY>
<!ATTLIST RATING
    ID CDATA #REQUIRED
    CLIENTMESSAGE CDATA #IMPLIED
    CLIENTRATING CDATA #IMPLIED
    SUPPLIERMESSAGE CDATA #IMPLIED
    SUPPLIERRATING CDATA #IMPLIED
>

<!ELEMENT REVINFO EMPTY>
<!ATTLIST REVINFO
    REV CDATA #REQUIRED
    REVTSTMP CDATA #IMPLIED
>

<!ELEMENT SERVICE EMPTY>
<!ATTLIST SERVICE
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    VALID CDATA #REQUIRED
>

<!ELEMENT SETTINGS EMPTY>
<!ATTLIST SETTINGS
    ID CDATA #REQUIRED
>

<!ELEMENT SETTINGS_NOTIFICATIONITEM EMPTY>
<!ATTLIST SETTINGS_NOTIFICATIONITEM
    SETTINGS_ID CDATA #REQUIRED
    NOTIFICATIONITEMS_ID CDATA #REQUIRED
>

<!ELEMENT SUPPLIER EMPTY>
<!ATTLIST SUPPLIER
    CERTIFIED CDATA #IMPLIED
    OVERALRATING CDATA #IMPLIED
    ID CDATA #REQUIRED
>

<!ELEMENT SUPPLIERBLACKLIST EMPTY>
<!ATTLIST SUPPLIERBLACKLIST
    ID CDATA #REQUIRED
    CLIENT_ID CDATA #IMPLIED
>

<!ELEMENT SUPPLIERBLACKLIST_SUPPLIER EMPTY>
<!ATTLIST SUPPLIERBLACKLIST_SUPPLIER
    SUPPLIERBLACKLIST_ID CDATA #REQUIRED
    SUPPLIERS_ID CDATA #REQUIRED
>

<!ELEMENT SUPPLIER_AUD EMPTY>
<!ATTLIST SUPPLIER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    CERTIFIED CDATA #IMPLIED
    OVERALRATING CDATA #IMPLIED
>

<!ELEMENT SUPPLIER_CATEGORY EMPTY>
<!ATTLIST SUPPLIER_CATEGORY
    ID CDATA #REQUIRED
    CATEGORY_ID CDATA #IMPLIED
    SUPPLIER_ID CDATA #IMPLIED
>

<!ELEMENT SUPPLIER_LOCALITY EMPTY>
<!ATTLIST SUPPLIER_LOCALITY
    ID CDATA #REQUIRED
    LOCALITY_ID CDATA #IMPLIED
    SUPPLIER_ID CDATA #IMPLIED
>

<!ELEMENT TEMPLATE EMPTY>
<!ATTLIST TEMPLATE
    ID CDATA #REQUIRED
    PREFILLEDINPUTS CDATA #IMPLIED
>

<!ELEMENT USER EMPTY>
<!ATTLIST USER
    ID CDATA #REQUIRED
    EMAIL CDATA #IMPLIED
    LOGIN CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    EMAILACTIVATION_ID CDATA #IMPLIED
>

<!ELEMENT USERCONTACT EMPTY>
<!ATTLIST USERCONTACT
    ID CDATA #REQUIRED
    CONTACTSTATUS CDATA #IMPLIED
    CREATED CDATA #IMPLIED
    DISPLAYNAME CDATA #IMPLIED
    JOBTITLE CDATA #IMPLIED
    NOTE CDATA #IMPLIED
    REPRESENTS_ID CDATA #IMPLIED
    SAVEDBY_ID CDATA #IMPLIED
>

<!ELEMENT USERMESSAGE EMPTY>
<!ATTLIST USERMESSAGE
    ID CDATA #REQUIRED
    ISREAD CDATA #REQUIRED
    ISSTARRED CDATA #REQUIRED
    MESSAGE_ID CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
>

<!ELEMENT USERSERVICE EMPTY>
<!ATTLIST USERSERVICE
    ID CDATA #REQUIRED
    STATUS CDATA #IMPLIED
    SERVICE_ID CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
>

<!ELEMENT USER_ACCESSROLE EMPTY>
<!ATTLIST USER_ACCESSROLE
    USER_ID CDATA #REQUIRED
    ACCESSROLES_ID CDATA #REQUIRED
>

<!ELEMENT USER_AUD EMPTY>
<!ATTLIST USER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    LOGIN CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
>

<!ELEMENT USER_PREFERENCE EMPTY>
<!ATTLIST USER_PREFERENCE
    USER_ID CDATA #REQUIRED
    PREFERENCES_ID CDATA #REQUIRED
>

<!ELEMENT USER_PREFERENCE_AUD EMPTY>
<!ATTLIST USER_PREFERENCE_AUD
    REV CDATA #REQUIRED
    USER_ID CDATA #REQUIRED
    PREFERENCES_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

