poptavka-core/src/main/resources/test.dtd

<!ELEMENT dataset (
    ACCESSROLE*,
    ACCESS_ROLE_PERMISSION*,
    ACTION*,
    ADDRESS*,
    BASICAUDITINFO*,
    BUSINESSUSER*,
    BUSINESSUSER_AUD*,
    BUSINESSUSER_PROBLEMREPORT*,
    BUSINESSUSER_PROBLEMREPORT_AUD*,
    CATEGORY*,
    CLIENT*,
    CLIENT_AUD*,
    COMPANY*,
    COMPANY_AUD*,
    DEMAND*,
    DEMANDTYPE*,
    DEMANDTYPE_AUD*,
    DEMAND_AUD*,
    DEMAND_CATEGORY*,
    DEMAND_LOCALITY*,
    DEMAND_SUPPLIER*,
    DEMAND_SUPPLIER_AUD*,
    HIBERNATE_SEQUENCES*,
    INVOICE*,
    INVOICE_USERSERVICE*,
    LOCALITY*,
    PARTNER*,
    PARTNER_AUD*,
    PERMISSION*,
    PERSON*,
    PERSON_AUD*,
    PREFERENCE*,
    PREFERENCE_AUD*,
    PROBLEMREPORT*,
    PROBLEMREPORT_AUD*,
    RATING*,
    REVINFO*,
    SERVICE*,
    SUPPLIER*,
    SUPPLIER_AUD*,
    SUPPLIER_CATEGORY*,
    SUPPLIER_LOCALITY*,
    SUPPLIER_RATING*,
    USER*,
    USERSERVICE*,
    USER_ACCESSROLE*,
    USER_AUD*,
    USER_PREFERENCE*,
    USER_PREFERENCE_AUD*)>

<!ELEMENT ACCESSROLE EMPTY>
<!ATTLIST ACCESSROLE
    ID CDATA #REQUIRED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT ACCESS_ROLE_PERMISSION EMPTY>
<!ATTLIST ACCESS_ROLE_PERMISSION
    ACCESSROLE_ID CDATA #REQUIRED
    PERMISSIONS_ID CDATA #REQUIRED
>

<!ELEMENT ACTION EMPTY>
<!ATTLIST ACTION
    ID CDATA #REQUIRED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ID CDATA #REQUIRED
    ADDRESSTYPE CDATA #IMPLIED
    FLATNUM CDATA #IMPLIED
    HOUSENUM CDATA #IMPLIED
    STREET CDATA #IMPLIED
    ZIPCODE CDATA #IMPLIED
    CITY_ID CDATA #IMPLIED
    COUNTRY_ID CDATA #IMPLIED
    DISTRICT_ID CDATA #IMPLIED
    REGION_ID CDATA #IMPLIED
    TOWNSHIP_ID CDATA #IMPLIED
>

<!ELEMENT BASICAUDITINFO EMPTY>
<!ATTLIST BASICAUDITINFO
    ID CDATA #REQUIRED
    INSERTTIME CDATA #IMPLIED
    MODIFICATIONTIME CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    USERIDCREATED CDATA #IMPLIED
    USERIDMODIFIED CDATA #IMPLIED
>

<!ELEMENT BUSINESSUSER EMPTY>
<!ATTLIST BUSINESSUSER
    BUSINESSTYPE CDATA #IMPLIED
    VERIFIED CDATA #REQUIRED
    ID CDATA #REQUIRED
    COMPANY_ID CDATA #IMPLIED
    PERSON_ID CDATA #IMPLIED
>

<!ELEMENT BUSINESSUSER_AUD EMPTY>
<!ATTLIST BUSINESSUSER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    BUSINESSTYPE CDATA #IMPLIED
    VERIFIED CDATA #IMPLIED
    COMPANY_ID CDATA #IMPLIED
    PERSON_ID CDATA #IMPLIED
>

<!ELEMENT BUSINESSUSER_PROBLEMREPORT EMPTY>
<!ATTLIST BUSINESSUSER_PROBLEMREPORT
    BUSINESSUSER_ID CDATA #REQUIRED
    PROBLEMREPORTS_ID CDATA #REQUIRED
>

<!ELEMENT BUSINESSUSER_PROBLEMREPORT_AUD EMPTY>
<!ATTLIST BUSINESSUSER_PROBLEMREPORT_AUD
    REV CDATA #REQUIRED
    BUSINESSUSER_ID CDATA #REQUIRED
    PROBLEMREPORTS_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT CATEGORY EMPTY>
<!ATTLIST CATEGORY
    ID CDATA #REQUIRED
    LEFTBOUND CDATA #IMPLIED
    LEVEL CDATA #REQUIRED
    RIGHTBOUND CDATA #IMPLIED
    PARENT_ID CDATA #IMPLIED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT CLIENT EMPTY>
<!ATTLIST CLIENT
    ID CDATA #REQUIRED
>

<!ELEMENT CLIENT_AUD EMPTY>
<!ATTLIST CLIENT_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
>

<!ELEMENT COMPANY EMPTY>
<!ATTLIST COMPANY
    ID CDATA #REQUIRED
    IDENTIFICATIONNUMBER CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TAXID CDATA #IMPLIED
>

<!ELEMENT COMPANY_AUD EMPTY>
<!ATTLIST COMPANY_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    IDENTIFICATIONNUMBER CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TAXID CDATA #IMPLIED
>

<!ELEMENT DEMAND EMPTY>
<!ATTLIST DEMAND
    ID CDATA #REQUIRED
    ATTACHMENTPATH CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    ENDDATE CDATA #IMPLIED
    MAXSUPPLIERS CDATA #IMPLIED
    MINRATING CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    TITLE CDATA #REQUIRED
    VALIDTO CDATA #IMPLIED
    CLIENT_ID CDATA #IMPLIED
    TYPE_ID CDATA #REQUIRED
>

<!ELEMENT DEMANDTYPE EMPTY>
<!ATTLIST DEMANDTYPE
    ID CDATA #REQUIRED
    CODE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT DEMANDTYPE_AUD EMPTY>
<!ATTLIST DEMANDTYPE_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT DEMAND_AUD EMPTY>
<!ATTLIST DEMAND_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    ATTACHMENTPATH CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    ENDDATE CDATA #IMPLIED
    MAXSUPPLIERS CDATA #IMPLIED
    MINRATING CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    VALIDTO CDATA #IMPLIED
    CLIENT_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT DEMAND_CATEGORY EMPTY>
<!ATTLIST DEMAND_CATEGORY
    ID CDATA #REQUIRED
    CATEGORY_ID CDATA #IMPLIED
    DEMAND_ID CDATA #IMPLIED
>

<!ELEMENT DEMAND_LOCALITY EMPTY>
<!ATTLIST DEMAND_LOCALITY
    ID CDATA #REQUIRED
    DEMAND_ID CDATA #IMPLIED
    LOCALITY_ID CDATA #IMPLIED
>

<!ELEMENT DEMAND_SUPPLIER EMPTY>
<!ATTLIST DEMAND_SUPPLIER
    DEMAND_ID CDATA #REQUIRED
    SUPPLIERS_ID CDATA #REQUIRED
    EXCLUDEDSUPPLIERS_ID CDATA #REQUIRED
>

<!ELEMENT DEMAND_SUPPLIER_AUD EMPTY>
<!ATTLIST DEMAND_SUPPLIER_AUD
    REV CDATA #REQUIRED
    DEMAND_ID CDATA #REQUIRED
    EXCLUDEDSUPPLIERS_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT HIBERNATE_SEQUENCES EMPTY>
<!ATTLIST HIBERNATE_SEQUENCES
    SEQUENCE_NAME CDATA #IMPLIED
    SEQUENCE_NEXT_HI_VALUE CDATA #IMPLIED
>

<!ELEMENT INVOICE EMPTY>
<!ATTLIST INVOICE
    ID CDATA #REQUIRED
    BANKACCOUNTNUMBER CDATA #IMPLIED
    BANKCODE CDATA #IMPLIED
    CONSTSYMBOL CDATA #IMPLIED
    DUEDATE CDATA #IMPLIED
    INVOICENUMBER CDATA #IMPLIED
    ISSUEDATE CDATA #IMPLIED
    SHIPMENTDATE CDATA #IMPLIED
    TAXBASIS CDATA #IMPLIED
    TOTALPRICE CDATA #IMPLIED
    VARIABLESYMBOL CDATA #IMPLIED
    VAT CDATA #IMPLIED
    VATRATE CDATA #REQUIRED
>

<!ELEMENT INVOICE_USERSERVICE EMPTY>
<!ATTLIST INVOICE_USERSERVICE
    INVOICE_ID CDATA #REQUIRED
    USERSERVICES_ID CDATA #REQUIRED
>

<!ELEMENT LOCALITY EMPTY>
<!ATTLIST LOCALITY
    ID CDATA #REQUIRED
    LEFTBOUND CDATA #IMPLIED
    LEVEL CDATA #REQUIRED
    RIGHTBOUND CDATA #IMPLIED
    PARENT_ID CDATA #IMPLIED
    CODE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT PARTNER EMPTY>
<!ATTLIST PARTNER
    ID CDATA #REQUIRED
>

<!ELEMENT PARTNER_AUD EMPTY>
<!ATTLIST PARTNER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
>

<!ELEMENT PERMISSION EMPTY>
<!ATTLIST PERMISSION
    ID CDATA #REQUIRED
    CODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    PHONE CDATA #IMPLIED
>

<!ELEMENT PERSON_AUD EMPTY>
<!ATTLIST PERSON_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    FIRSTNAME CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    PHONE CDATA #IMPLIED
>

<!ELEMENT PREFERENCE EMPTY>
<!ATTLIST PREFERENCE
    ID CDATA #REQUIRED
    PKEY CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT PREFERENCE_AUD EMPTY>
<!ATTLIST PREFERENCE_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    PKEY CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT PROBLEMREPORT EMPTY>
<!ATTLIST PROBLEMREPORT
    ID CDATA #REQUIRED
    TEXT CDATA #IMPLIED
>

<!ELEMENT PROBLEMREPORT_AUD EMPTY>
<!ATTLIST PROBLEMREPORT_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    TEXT CDATA #IMPLIED
>

<!ELEMENT RATING EMPTY>
<!ATTLIST RATING
    ID CDATA #REQUIRED
    CREATEDAT CDATA #IMPLIED
    MESSAGE CDATA #IMPLIED
    RATING CDATA #REQUIRED
    REPLY CDATA #IMPLIED
>

<!ELEMENT REVINFO EMPTY>
<!ATTLIST REVINFO
    REV CDATA #REQUIRED
    REVTSTMP CDATA #IMPLIED
>

<!ELEMENT SERVICE EMPTY>
<!ATTLIST SERVICE
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    VALID CDATA #REQUIRED
>

<!ELEMENT SUPPLIER EMPTY>
<!ATTLIST SUPPLIER
    ID CDATA #REQUIRED
>

<!ELEMENT SUPPLIER_AUD EMPTY>
<!ATTLIST SUPPLIER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
>

<!ELEMENT SUPPLIER_CATEGORY EMPTY>
<!ATTLIST SUPPLIER_CATEGORY
    ID CDATA #REQUIRED
    CATEGORY_ID CDATA #IMPLIED
    SUPPLIER_ID CDATA #IMPLIED
>

<!ELEMENT SUPPLIER_LOCALITY EMPTY>
<!ATTLIST SUPPLIER_LOCALITY
    ID CDATA #REQUIRED
    LOCALITY_ID CDATA #IMPLIED
    SUPPLIER_ID CDATA #IMPLIED
>

<!ELEMENT SUPPLIER_RATING EMPTY>
<!ATTLIST SUPPLIER_RATING
    SUPPLIER_ID CDATA #REQUIRED
    RATINGS_ID CDATA #REQUIRED
>

<!ELEMENT USER EMPTY>
<!ATTLIST USER
    ID CDATA #REQUIRED
    EMAIL CDATA #IMPLIED
    LOGIN CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
>

<!ELEMENT USERSERVICE EMPTY>
<!ATTLIST USERSERVICE
    ID CDATA #REQUIRED
    STATUS CDATA #IMPLIED
    SERVICE_ID CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
>

<!ELEMENT USER_ACCESSROLE EMPTY>
<!ATTLIST USER_ACCESSROLE
    USER_ID CDATA #REQUIRED
    ACCESSROLES_ID CDATA #REQUIRED
>

<!ELEMENT USER_AUD EMPTY>
<!ATTLIST USER_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    LOGIN CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
>

<!ELEMENT USER_PREFERENCE EMPTY>
<!ATTLIST USER_PREFERENCE
    USER_ID CDATA #REQUIRED
    PREFERENCES_ID CDATA #REQUIRED
>

<!ELEMENT USER_PREFERENCE_AUD EMPTY>
<!ATTLIST USER_PREFERENCE_AUD
    REV CDATA #REQUIRED
    USER_ID CDATA #REQUIRED
    PREFERENCES_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

